{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@/action": "./action",
          "@/components": "./components",
          "@/controllers": "./controllers",
          "@/hooks": "./hooks",
          "@/lib": "./lib",
          "@/pages": "./pages",
          "@/assets": "./public/assets",
          "@/reducers": "./reducers",
          "@/sagas": "./sagas",
          "@/slices": "./slices",
          "@/store": "./store",
          "@/styles": "./styles",
          "@/types": "./types",
          "@/utils": "./utils"
        }
      }
    ]
  ]
}
